@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Apresentação sobre Conceitos de DDD</h1>
    <h2>exemplos de como começar a aplicar isso em um projeto DELL</h2>
    <p>Apresentado por Gleidson Freitas.</p>
</div>
